@media (min-width: 320px) {

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    nav ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    nav a {
        font-size: 0.8rem;
    }

    .open li {
        display: flex;
        flex-direction: row;

    }

}

@media (min-width: 380px) {

    nav a {
        font-size: large;
    }

}