@media (min-width: 320px) {

    .nav ul {
        display: flex;
        justify-content: space-around;
    }

    #menu {
        display: none;
    }

    .navigation {
        flex-direction: row;
    }

    nav ul li {
        display: block;
    }

    .open li {
        display: f;
    }

    .navigation a {
        display: block;
        flex: 1 1 100%;
        font-size: 0.9rem;
    }

    .divButton {
        max-width: 420px;
    }

}

@media (min-width: 470px) {
    .navigation a {
        font-size: medium;
    }

    .cardGrid {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
        padding: 0;
        max-width: 830px;
    }

    .card3 {
        max-width: 800px;
    }

    figure img {
        width: 100%;
        height: auto;
        padding: 0;

    }

    figure img {
        width: 100%;
        padding: 1rem;
    }
}