@media (min-width: 320px) {

    .nav ul {
        display: flex;
        justify-content: space-around;
    }

    #menu {
        display: none;
    }

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

}