:root {
    --color1: rgb(47, 71, 114);
    --color2: rgb(244, 252, 255);
    --color3: rgb(0, 0, 32);
    --color4: rgb(255, 255, 0);
    --font1: 'Open Sans';
    --font2: 'Rubik';
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main {
    align-items: center;
    align-content: center;
    margin: 0;
}

h1 {
    padding: 0 1rem;
    font-size: x-large;
    align-self: center;
    font-family: var(--font2);
    color: var(--color1);
}

h2,
a {
    font-family: var(--font1);
    color: var(--color2);
}

#profile {
    width: 80px;
    float: left;
    align-items: center;
}

#myName {
    font-family: var(--font1);
    color: var(--color2);
    padding: 1rem;
    font-size: x-large;
    align-self: center;
}

.shadow {
    box-shadow: 0 0 30px rgb(0, 0, 0);
    border: 1px solid black;
}

.title {

    background-color: var(--color1);
    justify-content: center;
    display: flex;
    padding: 1rem;
}

.title p {
    display: block;
    font-size: x-large;
    align-self: center;
    font-family: var(--font1);
    color: var(--color2);
    padding: 0 2rem;
}

.nav {
    padding: 0px;
    border: 0px;
}

nav a:hover {
    background-color: var(--color2);
    color: var(--color1);
    font-weight: bolder;
}

.navigation {
    
}

.nav ul {
    background-color: var(--color3);
    list-style-type: none;
}

nav li {
    display: none;
}

nav a {
    display: flex;
    text-decoration: none;
    font-size: small;
    color: var(--color2);
    padding: 0.5rem 0.5rem;
}

#menu {
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: var(--color2);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "☰";
    float: right;
}

#menu.open::before {
    content: "❌";
}


.open li {
    display: block;
}

.card {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--color3);
    border-radius: 5px;
    margin: 1rem;
    max-width: 800px;

}

.card ul {
    padding: 0 1rem;
    margin: 1rem;

}

figcaption {
    text-align: center;
    padding: 0 0.5rem 1rem;
}

figure img {
    width: 100%;
    padding: 1rem;
}

h2 {
    font-size: large;
    width: 100%;
    background: var(--color1);
    padding: 1rem;
    text-align: center;
}

.pTotal {
    text-align: center;
}

.divButton {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    align-self: center;
}

button {
    margin: 0.5rem;
}

#container {
    display: grid;
    grid-template-columns: 1 3;
    padding: 1rem;
    border-top: 1px solid var(--color3);
}

#container section {
    font-family: var(--font1);
    font-size: smaller;
    font-weight: bold;
    padding: 0.5rem;
    margin: 0.2rem;
    border: 1px solid var(--color3);
    border-radius: 5px;
    text-align: center;
}

.completed {
    background-color: var(--color3);
    color: var(--color4);
}

.square {
    color: transparent;
    background-color: var(--color3);
    font-size: large;
}

footer {
    font-family: var(--font1);
    background-color: var(--color1);
    padding: 1rem;
    text-align: center;
}

.resalt {
    color: var(--color4);
}